.card {
  border: 2px solid gray;
  width: 300px;
  margin-left: 20px;
  padding: 10px 20px;
  box-shadow: 10px 10px 5px #888888;
}

.picture {
  width: 300px;
  height: auto;
}

.animal_info {
  border: 2px solid gray;
  box-sizing: border-box;
  width: 300px;
  margin-top: 20px;
  padding: 10px;
}

.facts {
  font-style: italic;
}

span {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
